@page
@model WebAppCM.Pages.Home.IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo</h1>
    <p>Adicione o seu arquivo no campo abaixo.</p>


    <label for="send">Arquivo</label>
    <input type="file" id="send" name="send" />
    <input type="button" value="Enviar" />
</div>
